*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(74, 74, 74) ;
}
main{
    background-color: rgb(128, 128, 128) ;
}
header{
    width: 100%;
}
header nav{
    display: flex;
    align-items: center;
    color: #e7bd70;
    background-color: #131313;
}

header nav h1{
    padding-right: 62%;
}
header nav a{
    padding-right: 10px;
}

header nav img{
    width: 100px;
    height: auto;
}

header nav #opcoes_menu ul li{
    display: inline;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

header nav #opcoes_menu a{
    text-decoration: none;
    color: inherit;
}

.produtosExemplos #containerProdutos{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    height: auto;
    margin-left: 10%;
    border-radius: 10px;
    margin-bottom: 40px;
}

.produtosExemplos > .container_info > h2,h3{
    margin-left: 45%;
    width: 10%;
    color: #e7bd70;
    font-size: 30px;
}

.produtosExemplos > .container_info > h2{
    width: 15% !important;
    font-size: 29px;
}

.produtosExemplos #containerProdutos .vinho_individual{
    background-color: rgb(128, 128, 128);
    border: 5px solid #131313;
    border-radius: 10px;
    width: 300px;
}

.produtosExemplos #containerProdutos .vinho_individual > img{
    width: 300px;
    height: auto;
}

.produtosExemplos #containerProdutos .vinho_individual > #vinho_branco{
    width: 300px;
    height: auto;
}

.produtosExemplos #containerProdutos .vinho_individual > #vinho_rose{
    width: 200px;
    height: 300px;
}

.produtosExemplos .container_info #veja_mais{
    text-decoration: none;
}

.video{
    border-top: 5px solid #131313;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 40px;
}
.video > h2,p{
    color: #e29810;
    text-align: center;
}
.video > .video_container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
    height: 300px;
    max-width: 800px;
    margin: 0 auto;
}



footer{
    background-color: #131313;
}

.rodape {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.rodape > .logo img{
    width: 400px;
    height: auto;
}

.rodape > .direitos_reservados{
    color: #e7bd70;
    width: 50%;
    margin-left: 18%;
    margin-top: 100px;
    font-size: 20px;
}

.historia{
    background-color: rgb(128, 128, 128);
    border: 10px solid #131313;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
}